@import url('https://fonts.googleapis.com/css?family=Roboto:100');

body {
	background: #eee;
	color: #333;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

canvas {
	background: url(background.png);
}